<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.layarapp.androidapp" >


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d219b1e8125202cabb4c6b0d38b5da9a850c9028" />

        <activity
            android:name="com.layarapp.androidapp.activities.TweetListActivity"
            android:label="@string/title_activity_tweet_list" >
        </activity>

        <!--Google Maps API Key v2.0 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCliENeI95o-nTnsqe05zm1nrF0TqqwHmU"/>
    </application>

</manifest>
